<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guoxiaoxing.phoenix.camera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraPreviewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>